
.body {
    display: inline-grid;
    justify-content: center;
    align-content: space-between;
    background-color: black;
    color: white;
    column-gap: 10px;
    row-gap: 10px;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    border-color: 10px white;
    border-style: solid;
}

.nav {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: 10px white;
    border-style: solid;
    font-family: 'Press Start 2P', cursive;
    color: white;
}


.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    list-style: none;
    color: white;
}

.menu li {
    width: 125px;
    height: 50px;
    transition: background-position-x linear;
    text-align: center;
    color: white;
}

a {
    text-align: center;
    color: white;
}


.active{
    color: green;
}


#animate {
    width: 30%;
    position: relative;
    background-color:transparent;
    align-content: center;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.title {
    font-family: 'Press Start 2P', cursive;
    color:green;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 12;
    background-position: bottom;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
	bottom:0;
	margin-bottom:0%;
    margin-top: 10%;  
}

/* FORMULARIO */

.title_form {
  font-family: 'Press Start 2P', cursive;
  color:green;
  align-content: center;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  margin-bottom: 5%;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  align-content: center;
  grid-column-start: 1;
  grid-column-end: 4;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px; 
}

button {
  margin-left: .5em;
}


@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2) {

}














